<app-navbar></app-navbar>
<main>
  <div class="container">
    <!-- <div class="row">
          <div class="col-md-12">
            <div class="title-wrap d-flex justify-content-between">
              <div class="title-box">
                <h2 class="title-a">Latest Properties</h2>
              </div>
              <div class="title-link">
                <a href="property-grid.html">All Property
                  <span class="bi bi-chevron-right"></span>
                </a>
              </div>
            </div>
          </div>
        </div> -->

    <div class="card-box-a card-shadow">
      <div class="img-box-a">
        <img
          src="https://images.pexels.com/photos/106399/pexels-photo-106399.jpeg?cs=srgb&dl=pexels-binyamin-mellish-106399.jpg&fm=jpg"
          alt=""
          class="img-a img-fluid"
        />
      </div>
      <div class="card-overlay">
        <div class="card-overlay-a-content">
          <div class="card-header-a">
            <h2 class="card-title-a">
              <a href="property-single.html"
                >206 Mount <br />
                Olive Road Two</a
              >
            </h2>
          </div>
          <div class="card-body-a">
            <div class="price-box d-flex">
              <span class="price-a">rent | $ 12.000</span>
            </div>
            <a href="#" class="link-a"
              >Click here to view
              <span class="bi bi-chevron-right"></span>
            </a>
          </div>
          <!-- <div class="card-footer-a">
                      <ul class="card-info d-flex justify-content-around">
                        <li>
                          <h4 class="card-info-title">Area</h4>
                          <span>340m
                            <sup>2</sup>
                          </span>
                        </li>
                        <li>
                          <h4 class="card-info-title">Beds</h4>
                          <span>2</span>
                        </li>
                        <li>
                          <h4 class="card-info-title">Baths</h4>
                          <span>4</span>
                        </li>
                        <li>
                          <h4 class="card-info-title">Garages</h4>
                          <span>1</span>
                        </li>
                      </ul>
                    </div> -->
        </div>
      </div>
    </div>
    <div class="property-info">
      <div class="property-details">
        <h2>Aprtamento vello</h2>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit.
          Exercitationem sunt accusamus consequatur voluptate ipsa eum
          assumenda, unde rem quod voluptatem?
        </p>
      </div>
      <div class="card location">h</div>
      <div class="price">
        <h2>100,000</h2>
      </div>
    </div>

    <div class="property-description">
      <h2>dexcription</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod quos
        ratione modi expedita, illum nobis neque exercitationem voluptas
        deserunt eius!
      </p>
    </div>
    <hr />
    <div class="property-description">
      <h2>Detalles de la propierdad</h2>
      <div class="details">
        <div class="details1">
          <div class="icons1">
            <i>1</i>
            <p>hola a todos</p>
          </div>
            <div class="icons1">
            <i>1</i>
            <p>hola a todos</p>
          </div>
            <div class="icons1">
            <i>1</i>
            <p>hola a todos</p>
          </div>
            <div class="icons1">
            <i>1</i>
            <p>hola a todos</p>
          </div>
        </div>
        <div class="details2">
            <div class="icons1">
            <i>1</i>
            <p>hola a todos</p>
          </div>
            <div class="icons1">
            <i>1</i>
            <p>hola a todos</p>
          </div>
            <div class="icons1">
            <i>1</i>
            <p>hola a todos</p>
          </div>
            <div class="icons1">
            <i>1</i>
            <p>hola a todos</p>
          </div>
        </div>
        <div class="details3">
            <div class="icons1">
            <i>1</i>
            <p>hola a todos</p>
          </div>
            <div class="icons1">
            <i>1</i>
            <p>hola a todos</p>
          </div>
            <div class="icons1">
            <i>1</i>
            <p>hola a todos</p>
          </div>
            <div class="icons1">
            <i>1</i>
            <p>hola a todos</p>
          </div>
        </div>
        <div class="details4">
            <div class="icons1">
            <i>1</i>
            <p>hola a todos</p>
          </div>
            <div class="icons1">
            <i>1</i>
            <p>hola a todos</p>
          </div>
            <div class="icons1">
            <i>1</i>
            <p>hola a todos</p>
          </div>
            <div class="icons1">
            <i>1</i>
            <p>hola a todos</p>
          </div>
        </div>
      </div>
    </div>
      <button type="button" class="btn btn-success">Ver siguiente</button>
  </div>
</main>
