<app-navbar></app-navbar>

<main>
  <div *ngIf="property" class="container">
    <div class="card-box-a card-shadow">
      <div class="img-box-a">
        <img [src]="currentPropertyImg" alt="" class="img-a img-fluid" />
      </div>
    </div>
    <br />
    <div class="property-info">
      <div class="property-details">
        <h2>{{ property.title }}</h2>
        <p>
          {{ property.address }}
        </p>
      </div>
      <button (click)="viewOnMap(property)" class="btn btn-outline-info">
        Ver en mapa
      </button>
      <div class="price">
        <h2>{{ property.price | currency }}</h2>
      </div>
    </div>

    <div class="property-description">
      <h2>Descripción</h2>
      <p>
        {{ property.description }}
      </p>
    </div>
    <hr />
    <div class="property-description">
      <h2>Detalles de la propiedad</h2>
      <div class="details">
        <div class="details-descriptions">
          <div class="icons1">
            <div class="iconstitle">
              <i class="fa-solid fa-building"></i>
              <p>Tipo de propiedad:</p>
            </div>

            <p>{{ property.features.propertyType }}</p>
          </div>
          <div class="icons1">
            <div class="iconstitle">
              <i class="fa-solid fa-arrow-turn-up"></i>
              <p>Niveles:</p>
            </div>
            <p>{{ property.features.levels }}</p>
          </div>
          <div class="icons1">
            <div class="iconstitle">
              <i class="fa-solid fa-ruler-combined"></i>
              <p>Tamaño de lote:</p>
            </div>

            <p>{{ property.features.lotSize | number }} M2</p>
          </div>
        </div>
        <div class="details-descriptions">
          <div class="icons1">
            <div class="iconstitle">
              <i class="fa-solid fa-car"></i>
              <p>Cochera</p>
            </div>

            <p>{{ property.features.garage }}</p>
          </div>
          <div class="icons1">
            <div class="iconstitle">
              <i class="fa-solid fa-bed"></i>
              <p>Habitaciones</p>
            </div>

            <p>{{ property.features.rooms }}</p>
          </div>
          <div class="icons1">
            <div class="iconstitle">
              <i class="fa-solid fa-shower"></i>
              <p>Baño</p>
            </div>

            <p>{{ property.features.bathrooms }}</p>
          </div>
        </div>
        <div class="details-descriptions">
          <div class="icons1">
            <div class="iconstitle">
              <i class="fa-regular fa-snowflake"></i>
              <p>Aire acondicionado</p>
            </div>

            <p>{{ property.features.airConditioner }}</p>
          </div>
          <div class="icons1">
            <div class="iconstitle">
              <i class="fa-solid fa-umbrella-beach"></i>
              <p>Terraza</p>
            </div>

            <p>{{ property.features.terrace }}</p>
          </div>
          <div class="icons1">
            <div class="iconstitle">
              <i class="fa-solid fa-leaf"></i>
              <p>Jardín</p>
            </div>

            <p>{{ property.features.garden }}</p>
          </div>
        </div>
        <div class="details-descriptions">
          <div class="icons1">
            <div class="iconstitle">
              <p>Cuarto de servicio</p>
              <i class="fa-solid fa-paintbrush"></i>
            </div>

            <p>{{ property.features.serviceRoom }}</p>
          </div>
          <div class="icons1">
            <div class="iconstitle">
              <i class="fa-solid fa-boxes-stacked"></i>
              <p>Bodega</p>
            </div>

            <p>{{ property.features.warehouse }}</p>
          </div>
          <div class="icons1">
            <div class="iconstitle">
              <i class="fa-solid fa-user-shield"></i>
              <p>Seguridad</p>
            </div>

            <p>{{ property.features.security }}</p>
          </div>
        </div>
      </div>
    </div>
    <hr />
    <button
      (click)="nextProperty(currentProperty)"
      type="button"
      class="btn btn-success"
    >
      Ver siguiente
    </button>
  </div>
</main>
